//Montserrat-Bold
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Monserrat/Bold/Montserrat-Bold.eot");
  src: url("../assets/fonts/Monserrat/Bold/Montserrat-Bold.svg") format("svg"),
    url("../assets/fonts/Monserrat/Bold/Montserrat-Bold.ttf") format("ttf"),
    url("../assets/fonts/Monserrat/Bold/Montserrat-Bold.woff") format("woff");
}

//Montserrat-Regular
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Monserrat/Regular/Montserrat-Regular.eot");
  src: url("../assets/fonts/Monserrat/Regular/Montserrat-Regular.svg") format("svg"),
    url("../assets/fonts/Monserrat/Regular/Montserrat-Regular.ttf") format("ttf"),
    url("../assets/fonts/Monserrat/Regular/Montserrat-Regular.woff") format("woff");
}

