block varibles

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}
    block script 
  body
    block content
    block footer
