@import 'variables.scss';

@mixin fontH1{
    font-size: $font-size-h1;
    line-height: $line-height-h1;
}

@mixin fontH2{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
}

@mixin fontH3{
    font-size: $font-size-h3;
    line-height: $line-height-h3;
}

@mixin fontBody{
    font-size: $font-size;
    line-height: $line-height;
}