-
  let optionMenu = [
    {age:'Взрослые',id:'adult'},
    {age:'Дети',id:'child'},
    {age:'Младенцы',id:'baby'}
    ]

mixin dropdown-guest
  .dropdown 
    label.dropdown__title Dropdown
    .dropdown__input
      .dropdown__content Сколько гостей
      .dropdown__icon <span class="material-icons">expand_more</span>
    .dropdown__menu
      for option in optionMenu
        .dropdown__option  
          .dropdown__item= option.age
          .dropdown__quantity-guest(data-id=option.id)
            button.dropdown__decrement <span>-</span> 
            .dropdown__quantity 0
            button.dropdown__increment <span>+</span>
      .dropdown__menu-footer
        button.dropdown__btn-clear Очистить      
        button.dropdown__btn-add Применить     


        